## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.acn
*.acr
*.alg
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.glo
*.glg
*.idx
*.out
*.gls
*.xdy

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*.blo
*.bls
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache

